name: "Docker build and push to Docker Hub"

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  jsonrpc:
    uses: ./.github/workflows/docker-build-and-push-image.yml
    with:
      docker_build_context: .
      dockerfile: docker/Dockerfile.backend
      dockerhub_repo: yeagerai/simulator-jsonrpc
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  frontend:
    uses: ./.github/workflows/docker-build-and-push-image.yml
    with:
      docker_build_context: .
      dockerfile: docker/Dockerfile.frontend
      dockerhub_repo: yeagerai/simulator-frontend
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  database-migration:
    uses: ./.github/workflows/docker-build-and-push-image.yml
    with:
      docker_build_context: .
      dockerfile: docker/Dockerfile.database-migration
      dockerhub_repo: yeagerai/simulator-database-migration
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  consensus-worker:
    uses: ./.github/workflows/docker-build-and-push-image.yml
    with:
      docker_build_context: .
      dockerfile: docker/Dockerfile.consensus-worker
      dockerhub_repo: yeagerai/simulator-consensus-worker
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  explorer:
    uses: ./.github/workflows/docker-build-and-push-image.yml
    with:
      docker_build_context: .
      dockerfile: docker/Dockerfile.explorer
      dockerhub_repo: yeagerai/simulator-explorer
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
      build_args: NEXT_PUBLIC_BASE_PATH=/explorer
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
